body {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1350px;
	font-size: 18px;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin: 0.5em 0;
}

h2 {
	font-size: 1.5em;
}

a {
	position: absolute;
	top: 5px;
	right: 5px;
	text-decoration-skip-ink: none;
}

.shame h1,h2 {
	font-family: 'Comic Sans MS', cursive, sans-serif;
}

.shame {
	font-family: 'Times New Roman', serif;
}
.shame a {
	color: #0f0;
}

.glory h1 {
	font-family: Courier New, serif;
}

.glory {
	font-family: Arial, sans-serif;
}

#board {
	column-width: 150px;
	column-gap: 50px;
	padding: 0 0 0 30px;
}

img {
	margin: 1em auto;
	display: block;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("font.woff2") format("woff2");
}